html, body {
    overflow: auto !important;
    height: 100%;
}

.scroll-container {
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section .social-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: var(--bg-color);
}