@font-face {
    font-family: "Inter";
    src: url("../static/InterVariable.ttf") format("truetype");
}

@font-face {
    font-family: "Labil Grotesk";
    src: url("../static/LabilGrotesk-Medium.ttf") format("truetype");
}

:root {
    /* Light Mode */
    --bg-color: #fcfcfc;
    --outline-color: #101010;
    --text-color: #101010;
    --style-color: rgb(154, 151, 239);
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Dark mode */
        --bg-color: #1c1c1c;
        --outline-color: #eee;
        --text-color: #eee;
    }
}

::selection {
    background-color: var(--style-color);
    color: white;
}

* {
    font-weight: 400;
    box-sizing: border-box;
    color: var(--text-color);
}

a {
    text-decoration: none;
}


h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    letter-spacing: -1px;
    color: var(--style-color)
}

.main-wrapper {
    display: flex;
    padding: 80px;
    margin: 10px;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: relative;
    z-index: 1;
    max-width: 800px;
}

@media screen and (max-width: 768px) {
    .main-wrapper {
        padding: 40px 20px;
    }
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--bg-color);
    font-family: monospace;
}

#ascii-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    font-family: monospace;
    font-size: 11px;
    line-height: 11px;
    text-align: right;
    user-select: none;
    pointer-events: none;
    z-index: 0;
    white-space: pre;
    will-change: contents;
}

#ascii-bg span {
    transition: color 0.1s ease-out;
}

.social-container {
    z-index: 9999;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: var(--bg-color);
    border-radius: 10px;
    display: flex;
    padding: 15px;
    gap: 15px;
}

.social-icon {
    color: var(--style-color);
    background-color: transparent;
    font-size: 2.5rem;
    display: block;
    padding: 5px;
}

.social-link {   
    text-decoration: none; 
    cursor: pointer;
}

.sidebar * {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 5%;
    height: 100%;
    background-color: var(--bg-color);
    padding: 20px 10px;
    color: var(--style-color);
    box-sizing: border-box;
    gap: 40px;
}

.vl {
    /* border-left: 1px dashed rgb(60, 60, 60); */
    height: 100%;
    position: relative;
    z-index: 9998;
}

.vl::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 100%;
    border-left: 1px dashed #3c3c3c;
    z-index: -1;
    transition: border-left 0.1s ease;

}

.vl.selected::after  {
    border-left: 3px solid var(--style-color);

}