@font-face {
	font-family: "Inter";
	src: url("../static/InterVariable.ttf") format("truetype");
}

@font-face {
	font-family: "Labil Grotesk";
	src: url("../static/LabilGrotesk-Medium.ttf") format("truetype");
}

:root {
	/* Light Mode */
	--bg-color: #fcfcfc;
	--outline-color: #585858;
	--text-color: #101010;
	--text-color-dim: #454545;
	--style-color: rgb(154, 151, 239);
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	background: var(--bg-color);
}

* {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.header {
	text-align: right;
	padding: 8px;
	font-family: monospace;
	color: var(--text-color-dim);
}

*::-webkit-scrollbar {
	display: none;
}

@media (prefers-color-scheme: dark) {
	:root {
		/* Dark mode */
		--bg-color: #1c1c1c;
		--outline-color: #545454;
		--text-color: #c5c5c5;
		--text-color-dim: #919191;
	}
}

::selection {
	background-color: var(--style-color);
	color: white;
}

* {
	box-sizing: border-box;
	color: var(--text-color);
}

a {
	text-decoration: none;
}

.section-container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	scroll-snap-align: start;
	overflow: hidden;
	position: relative;
}

.content-page {
	font-family: "Inter", Arial, Helvetica, sans-serif;
	width: 80%;
	height: 100vh;
	min-height: 100vh;
	flex-shrink: 0;
	scroll-snap-align: start;
	display: flex;
	gap: 16px;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	overflow: hidden;
}

.content-page.intro {
	width: 100%;
	height: 100vh;
	min-height: 100vh;
	display: flex;
	/* align-items: center; */
	padding: 0;
	font-size: clamp(40px, 8.5vw, 120px);
	font-weight: 900;
	white-space: nowrap;
}

#intro-left {
	/* justify-content: flex-end; */
	text-align: right;
	direction: rtl;
	align-items: flex-start;
}

#intro-right {
	/* justify-content: flex-start; */
	text-align: left;
	direction: ltr;
	align-items: flex-start;
}

.panel {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: scroll;
	scroll-snap-type: y mandatory;
}

.content-title {
	font-size: 48px;
	font-weight: 900;
}

.content-text {
	font-size: 18px;
	font-family: monospace;
}

.content-text.list {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.intro {
	font-size: 200px;
}

.content-page.hidden {
	visibility: hidden;
}

.accent {
	color: var(--style-color);
	font-family: monospace;
}

.hover-popup {
	position: relative;
	cursor: help;
	font-family: monospace;
}

.hover-popup:hover {
	text-decoration: underline var(--style-color);
}

.hover-popup::after {
	font-family: monospace;
	content: attr(data-popup);
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background: rgba(0, 0, 0, 0.9);
	color: var(--text-color-dim);
	padding: 8px 12px;
	margin-top: 24px;
	border-radius: 8px;
	font-size: 12px;
	white-space: nowrap;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease;
	z-index: 1000;
}

.hover-popup::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	border: 6px solid transparent;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease;
	z-index: 1001;
}

.hover-popup:hover::after,
.hover-popup:hover::before {
	opacity: 1;
}

.sidebar {
	display: flex;
	flex-direction: column;
	width: 32px;
	height: 100vh;
	background-color: var(--bg-color);
	padding: 20px 8px;
	box-sizing: border-box;
	z-index: 9999;
	flex-shrink: 0;
	opacity: 0;
	transition: opacity 0.6s ease;
}

.sidebar-section {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.sidebar-section-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.sidebar-section-list-item {
	display: flex;
	flex-direction: column;
	gap: 40px;
	flex: 1;
}

.vl {
	height: 100%;
	position: relative;
	flex: 1;
}

.vl::after {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 1px;
	height: 100%;
	border-left: 1px dashed var(--outline-color);
	transition: border-left 0.2s ease;
}

.vl.selected::after {
	border-left: 3px solid var(--style-color);
}

.layout-wrapper {
	display: flex;
	flex-direction: row;
	height: 100vh;
}

.vl {
	font-family: monospace;
	font-size: 0.6rem;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding: 8px 0px;
}

.vl.selected span {
	color: var(--style-color);
}

.vl span {
	background: var(--bg-color);
	color: var(--outline-color);
	padding: 4px 0;
	z-index: 1;
	position: relative;
}

.display-container {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 16px;
	overflow: auto;
}

.display-item {
	border: 1px solid var(--outline-color);
	padding: 8px;
}

.chip {
	background-color: var(--outline-color);
	padding: 4px 8px;
	border-radius: 16px;
	font-size: 12px;
	font-family: monospace;
	align-items: center;
	align-self: center;
}

.display-title {
	gap: 8px;
	display: flex;
	flex-direction: row;
	font-size: 24px;
	margin-bottom: 8px;
}
