@font-face {
    font-family: "Inter";
    src: url("../static/InterVariable.ttf") format("truetype");
}

@font-face {
    font-family: "Labil Grotesk";
    src: url("../static/LabilGrotesk-Medium.ttf") format("truetype");
}

:root {
    /* Light Mode */
    --bg-color: #fcfcfc;
    --outline-color: #585858;
    --text-color: #101010;
    --text-color-dim: #454545;
    --style-color: rgb(154, 151, 239);
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Dark mode */
        --bg-color: #1c1c1c;
        --outline-color: #545454;
        --text-color: #c5c5c5;
        --text-color-dim: #919191;
    }
}

::selection {
    background-color: var(--style-color);
    color: white;
}

* {
    font-weight: 400;
    box-sizing: border-box;
    color: var(--text-color);
}

a {
    text-decoration: none;
}

h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    letter-spacing: -1px;
    color: var(--style-color)
}

h2 {
    color: var(--text-color);
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--style-color);
    margin-bottom: 8px;
}

p {
    font-size: 0.9rem;
    line-height: 1.6;
}

.main-wrapper {
    display: flex;
    /* padding: 80px;
    margin: 8px; */
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .main-wrapper {
        padding: 40px 20px;
    }
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    background: var(--bg-color);
    font-family: monospace;
}

.section {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    position: relative;
    padding: 80px 40px;

    width: 100%;
}

@media screen and (max-width: 768px) {
    .section {
        padding: 40px 20px;
    }
}

body {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100vw;
}

#ascii-bg {
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

#ascii-bg span {
    transition: color 0.1s ease-out;
}

.social-container {
    z-index: 9999;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: var(--bg-color);
    /* border-radius: 8px; */
    display: flex;
    padding: 15px;
    gap: 15px;
}

.social-icon {
    color: var(--style-color);
    background-color: transparent;
    font-size: 2.5rem;
    display: block;
    padding: 5px;
}

.social-link {   
    text-decoration: none; 
    cursor: pointer;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 5%;
    height: 100%;
    background-color: var(--bg-color);
    padding: 20px 8px;
    color: var(--style-color);
    box-sizing: border-box;
    gap: 40px;
    z-index: 9999;
}

.sidebar-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.sidebar-section-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.sidebar-section-list-item {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 1;
}

.vl {
    height: 100%;
    position: relative;
    flex: 1;
    color: var(--outline-color);
}

.vl::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 100%;
    border-left: 1px dashed var(--outline-color);
    transition: border-left 0.2s ease;
}

.vl.selected {
    color: var(--style-color);
}

.vl.selected::after {
    border-left: 3px solid var(--style-color);
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 8%;
    }
}

.project-container {
    align-content: right;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project {
    display: flex;
    flex-direction: column;

    cursor: pointer;
    width: 100%;
    border: 1px dashed var(--outline-color);
    /* border-radius: 8px; */
    padding: 12px;
    gap: 8px;

    transition: background-color 0.1s linear;
}

.project:hover {
    background-color: color-mix(in srgb, var(--bg-color), white 5%);
    outline: 1px solid var(--bg-color);
    outline-offset: -2px;

}

.project-description {
    color: var(--text-color-dim);
}

.main-wrapper.two-column {
    align-items: start;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.section-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100%;
}

.main-wrapper.title-card {
    width: 60%;
}

.ascii-bg {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 0;
    right: 0;

}

.ascii-bg::after {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: linear-gradient(180deg, transparent 80%, var(--bg-color) 100%);
}

.skill-tokens {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    flex-direction: row;
    margin-bottom: 4px;
}

.skill-token {
    font-size: 0.8rem;
    opacity: 70%;
    background-color: var(--style-color);
    color: var(--bg-color);

    clip-path: polygon(calc(10px) 0%, 100% 0%, calc(100% - 10px) 100%, 0% 100%); /* Example: A triangle */

    padding: 4px 16px 4px 16px;
    margin-left: -16px;
}

.skill-token.yellow {
    background-color: yellow
}

.skill-token.blue {
    background-color: rgb(98, 119, 255);
}

.skill-token.purple {
    background-color: rgb(160, 79, 253);
}


.skill-token.lblue {
    background-color: rgb(0, 191, 255)
}


.skill-token.orange {
    background-color: rgb(255, 85, 0)
}



.skill-token:first-child {
    clip-path: polygon(0% 0%, 100% 0%, calc(100% - 10px) 100%, 0% 100%);
    margin: 0;
    padding-left: 12px;
}

.profile-pic {
    height: 200px;
    width: 150px;

    filter: grayscale(100%);

    margin-bottom: 16px;
}

.skills-container {
    display: flex;
    flex-direction: column;

}