@font-face {
	font-family: "Inter";
	src: url("../static/InterVariable.ttf") format("truetype");
}

@font-face {
	font-family: "Labil Grotesk";
	src: url("../static/LabilGrotesk-Medium.ttf") format("truetype");
}

:root {
	/* Light Mode */
	--bg-color: #fcfcfc;
	--outline-color: #585858;
	--text-color: #101010;
	--text-color-dim: #454545;
	--style-color: rgb(154, 151, 239);
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	background: var(--bg-color);
}

* {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.header {
	text-align: right;
	padding: 8px;
	font-family: monospace;
	color: var(--text-color-dim);
}

*::-webkit-scrollbar {
	display: none;
}

@media (prefers-color-scheme: dark) {
	:root {
		/* Dark mode */
		--bg-color: #1c1c1c;
		--outline-color: #545454;
		--text-color: #c5c5c5;
		--text-color-dim: #919191;
	}
}

::selection {
	background-color: var(--style-color);
	color: white;
}

* {
	box-sizing: border-box;
	color: var(--text-color);
}

a {
	text-decoration: none;
}

.section-container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	scroll-snap-align: start;
	overflow: hidden;
	position: relative;
}

.content-page {
	font-family: "Inter", Arial, Helvetica, sans-serif;
	width: 90%;
	height: 100vh;
	min-height: 100vh;
	flex-shrink: 0;
	scroll-snap-align: start;
	display: flex;
	gap: 16px;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	overflow: hidden;
}

.hider {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: var(--bg-color);

	opacity: 1;
	z-index: 1000;
}

.content-page.intro {
	width: 100%;
	height: 100vh;
	min-height: 100vh;
	display: flex;
	/* align-items: center; */
	padding: 0;
	font-size: clamp(40px, 8.5vw, 120px);
	font-weight: 900;
	white-space: nowrap;
}

#intro-left {
	/* justify-content: flex-end; */
	text-align: right;
	direction: rtl;
	align-items: flex-start;
}

#intro-right {
	/* justify-content: flex-start; */
	text-align: left;
	direction: ltr;
	align-items: flex-start;
}

.panel {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: scroll;
	scroll-snap-type: y mandatory;
}

.content-title {
	font-size: 48px;
	font-weight: 900;
}

.content-text {
	font-size: 18px;
	font-family: monospace;
}

.content-text.list {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.intro {
	font-size: 200px;
}

.content-page.hidden {
	visibility: hidden;
}

.accent {
	color: var(--style-color);
	font-family: monospace;
}

.hover-popup {
	position: relative;
	cursor: help;
	font-family: monospace;
}

.hover-popup:hover {
	text-decoration: underline var(--style-color);
}

.hover-popup::after {
	font-family: monospace;
	content: attr(data-popup);
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background: rgba(0, 0, 0, 0.9);
	color: var(--text-color-dim);
	padding: 8px 12px;
	margin-top: 24px;
	border-radius: 8px;
	font-size: 12px;
	white-space: nowrap;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease;
	z-index: 1000;
}

.hover-popup::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	border: 6px solid transparent;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease;
	z-index: 1001;
}

.hover-popup:hover::after,
.hover-popup:hover::before {
	opacity: 1;
}

.sidebar {
	display: flex;
	flex-direction: column;
	width: 32px;
	height: 100vh;
	background-color: var(--bg-color);
	padding: 20px 8px;
	box-sizing: border-box;
	z-index: 9999;
	flex-shrink: 0;
	opacity: 0;
	transition: opacity 0.6s ease;
}

.sidebar-section {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.sidebar-section-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.sidebar-section-list-item {
	display: flex;
	flex-direction: column;
	gap: 40px;
	flex: 1;
}

.vl {
	height: 100%;
	position: relative;
	flex: 1;
}

.vl::after {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 1px;
	height: 100%;
	border-left: 1px dashed var(--outline-color);
	transition: border-left 0.2s ease;
}

.vl.selected::after {
	border-left: 3px solid var(--style-color);
}

.layout-wrapper {
	display: flex;
	flex-direction: row;
	height: 100vh;
}

.vl {
	font-family: monospace;
	font-size: 0.6rem;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding: 8px 0px;
}

.vl.selected span {
	color: var(--style-color);
}

.vl span {
	background: var(--bg-color);
	color: var(--outline-color);
	padding: 4px 0;
	z-index: 1;
	position: relative;
}

.display-container {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 16px;
	overflow: auto;
}

.display-item {
	border: 1px solid var(--outline-color);
	padding: 8px;
}

.chip {
	font-family: monospace;
	align-items: center;
	align-self: center;

	font-size: 12px;
	padding: 4px 10px;
	border-radius: 999px;
	background: var(--bg-color);
	border: 1px solid var(--outline-color);

	position: relative;
	padding-left: 24px;
}

.chip::before {
	content: "";
	position: absolute;
	left: 5px;
	top: 5px;
	width: 12px;
	height: 12px;
	border-radius: 999px;
	background-color: var(--outline-color);
}

.chip.typescript::before {
	background-color: rgb(90, 105, 219);
}
.chip.cpp::before {
	background-color: rgb(90, 105, 219);
}
.chip.python::before {
	background-color: rgb(219, 202, 90);
}
.chip.html::before {
	background-color: rgb(219, 114, 90);
}
.chip.css::before {
	background-color: rgb(90, 105, 219);
}
.chip.react::before {
	background-color: rgb(90, 105, 219);
}
.chip.javascript::before {
	background-color: rgb(219, 202, 90);
}

.display-title {
	gap: 8px;
	display: flex;
	flex-direction: row;
	font-size: 24px;
	margin-bottom: 8px;
}

/* NEW STUFFF */
.projects-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	position: relative;
	padding: 20px 0;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background: var(--bg-color);
	z-index: 10;
	display: none;
	animation: fadeIn 0.2s linear;
}

.overlay.visible {
	display: block;
}

.overlay-contents {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 20px;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.back-btn {
	display: inline-flex;
	align-items: center;
	gap: 6px;
	font-size: 16px;
	cursor: pointer;
	background: none;
	border: none;
	width: fit-content;

	padding: 8px;
}

.chips {
	display: flex;
	flex-wrap: wrap;
	gap: 6px;
	padding: 8px;
}

.proj-card {
	border: 1px solid var(--outline-color);
	cursor: pointer;

	border-radius: 4px;
	overflow: hidden;

	opacity: 0;
	min-height: 180px;

	transition: background-color 0.1s linear;
}

.proj-card.coming-soon {
	pointer-events: none;
}

.proj-card:hover {
	background-color: color-mix(
		in srgb,
		var(--outline-color) 40%,
		var(--bg-color) 100%
	);
}

.in-view .proj-card:nth-child(1) {
	animation: fadeIn 0.5s forwards;
	animation-delay: 0.05s;
}
.in-view .proj-card:nth-child(2) {
	animation: fadeIn 0.5s forwards;
	animation-delay: 0.1s;
}
.in-view .proj-card:nth-child(3) {
	animation: fadeIn 0.5s forwards;
	animation-delay: 0.15s;
}
.in-view .proj-card:nth-child(4) {
	animation: fadeIn 0.5s forwards;
	animation-delay: 0.3s;
}
.in-view .proj-card:nth-child(5) {
	animation: fadeIn 0.5s forwards;
	animation-delay: 0.25s;
}
.in-view .proj-card:nth-child(6) {
	animation: fadeIn 0.5s forwards;
	animation-delay: 0.2s;
}
.in-view .proj-card:nth-child(7) {
	animation: fadeIn 0.5s forwards;
	animation-delay: 0.35s;
}
.in-view .proj-card:nth-child(8) {
	animation: fadeIn 0.5s forwards;
	animation-delay: 0.4s;
}
.in-view .proj-card:nth-child(9) {
	animation: fadeIn 0.5s forwards;
	animation-delay: 0.45s;
}

.proj-image {
	border-bottom: 1px solid var(--outline-color);
	height: 140px;
	opacity: 0.75;

	transition: opacity 0.1s linear;
}

.proj-image.large {
	padding-bottom: 12px;
	height: 240px;
}

.proj-card:hover .proj-image {
	opacity: 1;
}

.proj-image img {
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.proj-title {
	display: flex;
	flex-direction: column;
	font-size: 16px;
	font-weight: 600;
}

.proj-card.coming-soon .proj-title {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 50%;
	font-weight: 500;
	font-size: 14px;
}

.proj-title.large {
	font-size: 24px;
}

.title-label {
	padding: 8px;
}

.proj-title.large .title-label {
	border-bottom: 1px solid var(--outline-color);
}
